<div class="ui center aligned segment">
  {{#if tableData}}
    <table class="checks" id="checkTable">
      <tr class="table-header">
        <th class="sortable-column-heading" role="button" {{action "sortTable" 0}} on="click"> Service <div class="{{arrowIconModifier}}"></div></th>
        <th class="column-heading">Status</th>
        <th class="sortable-column-heading" role="button" {{action "sortTable" 2}} on="click">Rolling Uptime for 30 days <div class="{{arrowIconModifier}}"></div></th>
        <th class="column-heading"></th>
      </tr>
      <tbody>
      {{#each tableData as |check|}}
        <tr class="table-row">
          <td class="table-column">
            <a class="links" href='https://www.updown.io/{{check.token}}'>{{check.alias}}</a>
          </td>
          {{#if check.down}}
            <td class="table-column">DOWN</td>
          {{else}}
            <td class="table-column">UP</td>
          {{/if}}
          <td class="table-column">{{check.uptime}}%</td>
          <td class="table-column">{{#link-to "details" check.id}} Details {{/link-to}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{/if}}
</div>
