<div class="ui center aligned segment">
  {{#if model}}
    <table class="checks" id="checkTable">
      <tr class="table-header">
        <th class="column-heading" role="button" {{action "sortTable"}} on="click">Service</th>
        <th class="column-heading">Status</th>
        <th class="column-heading" role="button" {{action "sortTable"}} on="click">Rolling Uptime for 30 days</th>
        <th class="column-heading"></th>
      </tr>
      <tbody>
      {{#each model as |check|}}
        <tr class="table-row">
          <td class="table-column">
            <a class="links" href='https://www.updown.io/{{check.token}}'>{{check.alias}}</a>
          </td>
          {{#if check.down}}
            <td class="table-column">Down</td>
          {{else}}
            <td class="table-column">Up</td>
          {{/if}}
          <td class="table-column">{{check.uptime}}%</td>
          <td class="table-column">{{#link-to "details" check.token}} Details {{/link-to}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{/if}}
</div>
