<div class="ui center aligned segment">

  <table class="ui table">
    <thead>
    <th>Service</th>
    <th>Status</th>
    <th>Rolling Uptime for 30 days</th>
    <th></th>
    </thead>
    <tbody>
    {{log 'model========='model}}
    {{#each model as |check|}}
      <tr>
        <td>
          <a href='https://www.updown.io/{{check.token}}' target='_blank'>{{check.alias}}</a>

        </td>
        {{#if check.down}}
            <td>Down</td>
        {{else}}
          <td>Up</td>
        {{/if}}

        <td>{{check.uptime}}%</td>
        <td>{{#link-to "details" check.token}} Details {{/link-to}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
