<div class="center">
  {{#if check.faviconurl}}
    <div class="icon"><img src="{{check.faviconurl}}" height="42" width="42"></div>
  {{/if}}

  <div class="url">{{check.url}}</div>

  {{#if uptime}}
    <div class="uptime">{{round uptime decimals=2}}%</div>
  {{/if}}

  {{#if check.down}}
    <div class="down-since">Down since: {{check.downsince}}</div>
  {{/if}}

  <div class="description">{{description}}</div>
</div>

